/sandbox
/src/solver/sandbox_13.py
/src/solver/sandbox_14.py
/src/solver/sandbox.py
/src/solver/RIPTRM.py
/src/solver/RIPTRM_copy.py
/src/solver/RIPM_copy.py
/tuning
/src/template
/src/solver/RIPM_nonRepMat.py
/src/solver/RALM_NonAKKT.py
/src/solver/solver_template.py

/src/StableSystem
/src/solfer/1125_RIPTRM.py
/src/solver/sandbox2.py
/src/solver/sandbox3.py
/src/solver/sandbox4.py
/src/solver/sandbox5.py


.DS_Store
.hydra
.vscode
multirun
outputs
wandb
legacy
simulator_figure.pptx
/src/__pycache__
/src/.DS_Store
/src/base/__pycache__
/src/solver/__pycache__
/src/template/__pycache__
/src/NonnegPCA/__pycache__