# This is a configuration file for simulation.
# The file will be passed to an instance of Simulator() in which
# an optimization problem is solved according to this configuration.

problem_name: 'StableIdentification'
problem_instance: 1  # can be swept by multi-run
problem_initialpoint: a  # can be swept by multi-run
problem_coordinator_name: "coordinator"  # called in simulator to set a problem
solver_name: ["RIPM","RSQO","RALM", "RIPTRM"]  # can be swept by multi-run
is_X_noisy: True
Xset: [1,2,3,4,5]
h: 0.02

solver_option:
    # Common settings: stopping criteria and wandb setting
    common:
      maxtime: 240  # max time of experiments as a stopping criterion
      maxiter: 10000  # max iteration as a stopping criterion
      tolresid: 0  # tolerance of residual based on KKT conditions as a stopping criterion
      wandb_logging: False  # Set True for sending the experimental results to wandb
      wandb_project: ${problem_name}-${problem_instance}-${problem_initialpoint}  # project name in wandb
      verbosity: 0
    RIPTRM:
      TRS_solver: 'tCG'
      second_order_stationarity: False
      # TRS_solver: 'Exact_RepMat'
      # second_order_stationarity: True
    RSQO:
      quadoptim_eigvalcorr: 1e-4  # 1e-2
    RIPM:
      checkNTequation: True

    ### NOTE ###
    # Experimental results are stored in 'intermediate/${problem_name}/${problem_instance}/${problem_initialpoint}'.

# Sweep settings.
output_path: intermediate/${problem_name}/${problem_instance}/${problem_initialpoint}
hydra:
  run:
    dir: intermediate/${problem_name}
  sweeper:
    params:
      problem_initialpoint: a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t
      solver_name: ["RIPM","RSQO","RALM", "RIPTRM"]