# This is a configuration file for hyperparameter tuning.
# The file will be passed to instances of a series of Tuner() in which
# performance profile is calculated according to the setting in this configuration file.

problem_name: 'NonnegPCA'
problem_instance: [1,2,3]
problem_initialpoint: a
problem_coordinator_name: "coordinator"
solver_name: "RALM"

# Setting for hyperparameter tuning
solver_evaluation: "residual"  # evaluation index used in profiling
max_threshold: 10  # max threshold for describing performance profile
threshold_step: 50  # the number of increments in x-axis of performance profile
save_experiment: False  # whether saving the experimental results by each solver setting
output_path: tuning/${problem_name}_${solver_name}

# Set of hyperparameters that will be tuned
solver_option:
  rho: [0.1,1,10]
  tau: [0.8, 8]