# This is a configuration file for hyperparameter tuning.
# The file will be passed to instances of a series of Tuner() in which
# performance profile is calculated according to the setting in this configuration file.

problem_name: 'NonnegPCA'
problem_instance: [6,7,8,9,10]
problem_initialpoint: a
problem_coordinator_name: "coordinator"
solver_name: "RIPTRM"

# Setting for hyperparameter tuning
solver_evaluation: "residual"  # evaluation index used in profiling
max_threshold: 10  # max threshold for describing performance profile
threshold_step: 50  # the number of increments in x-axis of performance profile
save_experiment: True  # whether saving the experimental results by each solver setting
output_path: tuning/${problem_name}_${solver_name}

# Set of hyperparameters that will be tuned
solver_option:
  # initial_TR_radius: [0.1, 1, 10]
  # initial_barrier_parameter: [0.1, 1, 10]
  barrier_parameter_update_r: [0.2, 0.5, 0.8]
  barrier_parameter_update_c: [0.2, 0.5, 0.8]